{% extends 'base.html.twig' %}

{% block title %}Hello user!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>Hello to {{ page }} : Your username is: {{ username }} ✅</h1>
    <div class="mb-3">
       <a href="{{ path('app_logout') }}">Logout</a>
    </div>
</div>
{% endblock %}
